(function (window) {

    window.Env = window.Env || {};

    // Environment variables
    window.Env['API_SERVER_BASE_URL'] = '${API_SERVER_BASE_URL}';
    window.Env['API_SERVER_BASE_PATH'] = '${API_SERVER_BASE_PATH}';
})(this);